<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<ul>
    <li> Керамическая кружка<br>
   Описание: Кружка выполнена из высококачественной керамики и украшена уникальным рисунком, созданным художником вручную. Рисунок изображает лесную поляну с яркими цветами и бабочками. Объем кружки – 350 мл.
   - Цена: 1500 рублей</li><button>Купить</button>
    <li> Керамическая кружка с авторским рисунком<br>
   Описание: Кружка выполнена из высококачественной керамики и украшена уникальным рисунком, созданным художником вручную. Рисунок изображает лесную поляну с яркими цветами и бабочками. Объем кружки – 350 мл.
   - Цена: 1500 рублей</li><button>Купить</button>
    <li>Шерстяной плед с этническими мотивами<br>
   Описание: Плед выполнен из мягкой шерсти с добавлением акрила, что делает его теплым и долговечным. Он украшен традиционными орнаментами, вдохновленными культурой северных народов. Размер пледа – 140x200 см.
   - Цена: 3000 рублей</li><button>Купить</button><br>
    <br>
    <br>
    <a href="/main"><button>Вернуться</button></a>
</ul>
</body>
</html>